body {
  margin: 0;
  font-family:sans-serif;
  background: #f7f5f2;
  padding: 60px;
}

#header {
  display: flex;
  flex-direction: row;

}

#logo {

}

#navbar {
  display: flex;
  flex-direction: row;

}

#navbar-item {
  width: 150px;
  height: 20px;
  background-color: rgb(255, 99, 71);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
}

#navbar-item:hover {
  background-color: rgba(255, 99, 71, 0.5);
  cursor: pointer;
}
