body {
  margin: 40px;
  font-family:sans-serif;
  background: rgb(111, 54, 77);
  padding: 0px;
}

#header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#logo {
  width: 100px;
  height: 100px;
  opacity:100%;
  object-fit: contain;
}

#not-logo {
  width: 100%;
  height: 100px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgb(131, 25, 77);
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 5px;
}

#navbar input[type=text] {
  float:right;
  width: 200px;
  height: 20px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  margin-left: 40px;
  font-size: 17px;
  border-radius: 25px;
  background-color: #f7f5f2;
  font-family: 'Work Sans', sans-serif;
}

#navbar-item {
  width: 150px;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  color: #f7f5f2;
  font-family: 'Work Sans', sans-serif;
}

#navbar-item:hover {
  opacity:0.5;
  cursor: pointer;
}

#alphabet {
  width: 100%;
  height: 30px;
  background-color: rgb(131, 25, 77);
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f7f5f2;
  font-family: 'Work Sans', sans-serif;
}

.letter {
  font-size: 10;
  padding: 5px;
}

.letter:hover {
  opacity: 0.5;
  cursor: pointer;
}

#hot-and-poppin {
  width: 100%;
  height: 700px;
  background-color: rgb(146, 76, 97);
  font-family: 'Quicksand', sans-serif;
}

#home-search {
  position: relative;
  top: -300px;
}

#hot-and-poppin input[type=text] {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 25px;
  padding: 15px;
  background-color: #f7f5f2;
  font-family: 'Quicksand', sans-serif;
}

#info-bar {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: rgb(146, 76, 97);
  font-family: 'Work Sans', sans-serif;
}

.info-item {
  width: 250px;
  height: 25px;
  padding: 5px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f5f2;
}

#search-res-berk input[type=text]{
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 75%;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-color: #f7f5f2;
  font-family: 'Quicksand', sans-serif;
}

#search-switch-container {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.search-option {
  width: 120px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(0, 120, 165);
  color: rgb(115, 188, 211);
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(115, 188, 211);
}

.search-option:hover {
  opacity:0.5;
  cursor: pointer;
}

#song-results {
  width: 100%;
  height: 1040px;
  background-color: rgb(146, 76, 97);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.song {
  margin: 30px;
  text-align: center;
  font-size: 25px;
  color: #f7f5f2;
  font-family: 'Crimson Text', sans-serif;
}

.song:hover {
  opacity:0.5;
  cursor: pointer;
}

#album-results-container {
  width: 100%;
  height: 1100px;
  background-color: rgb(146, 76, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

#row {
  margin: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.album:hover {
  opacity:0.5;
  cursor: pointer;
}

#artist-name-container {
  width: 100%;
  height: 250px;
  background-color: rgb(131, 25, 77);
  position: relative;
}

.artist {
  padding: 10px;
  font-family: 'Crimson Text', sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f7f5f2;
  font-size: 150px;
}

.artist:hover {
  opacity: 0.5;
  cursor:pointer;
}

#artist-switch-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.artist-option {
  width: 140px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(0, 120, 165);
  color: rgb(115, 188, 211);
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(115, 188, 211);
}

.artist-option:hover {
  opacity: 0.5;
  cursor: pointer;
}

#artist-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#artist-container {
  width: 100%;
  height: 1300px;
  background-color: rgb(146, 76, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#album-info {
  width: 700px;
  height: 340px;
  background-color: rgb(236, 149, 172);
}

#album-photo:hover {
  opacity: 0.5;
  cursor:pointer;
}

.album-title {
  margin-left:10px;
  text-align: left;
  font-size: 60px;
  color: #f7f5f2;
  font-family: 'Crimson Text', sans-serif;
}

.album-title:hover {
  opacity: 0.5;
  cursor: pointer;
}

#album-song-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.album-song {
  margin-left: 40px;
  text-align:left;
  font-size: 18px;
  color: #f7f5f2;
  font-family: 'Crimson Text', sans-serif;
}

.album-song:hover {
  opacity: 0.5;
  cursor:pointer;
}

#song-title-container {
  width:100%;
  height: 250px;
  background-color: rgb(146, 76, 97);
  position: relative;
}

.song-page {
  padding: 10px;
  font-family: 'Crimson Text', sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f7f5f2;
  font-size: 120px;
}

.song-page:hover {
  opacity: 0.5;
  cursor: pointer;;
}

#lyrics-container {
  width:50%;
  height: 1600px;
  padding: 10px;
  margin:auto;
  margin-top: 20px;
  align-self: center;
  background-color: rgb(146, 76, 97);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lyric-line {
  font-size: 18px;
  color: #f7f5f2;
  font-family: 'Crimson Text', sans-serif;
}

.line-break {
  font-size: 18px;
  color: #f7f5f2;
  font-family: 'Crimson Text', sans-serif;
  opacity:0;
}

#play-button {
  position: relative;
  top: -180px;
  left: 25px;
}

#play-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
